.card-glowing-border {
    margin: 4em auto;
    padding: 2em;
    width: 16em;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.5em;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card-glowing-border::after,
.card-glowing-border::before {
    --angle: 0deg;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #f06, #20e, #f06);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 0.5em;
    padding: 0.5em;
    animation: 3s glowing-border linear infinite;
}

@keyframes glowing-border {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.card-glowing-border::before {
    filter: blur(1em);
}