:root {
    --bg-color: #fff;
    --main-color: #222;
    --disabled-color: #888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 2em;
    font-size: large;
    text-align: center;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    margin: 1em 0;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0;
}

p {
    margin: 1em 0;
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
}

main a {
    display: block;
    padding: 0.3em;
    color: var(--disabled-color);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    transition: all .3s ease-in-out;
    cursor: not-allowed;
}

main a:hover {
    font-size: 1.6em;
}

a:link {
    cursor: pointer;
    color: var(--main-color);
}

a:visited {
    color: var(--main-color);
}

ul {
    list-style: none;
}

.nav-link {
    --link-height: 2.5em;
    height: var(--link-height);
    margin: var(--link-height) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}