* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #333;
    padding: 2em;
    font-size: large;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin: 1em 0;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0;
}

p {
    margin: 1em 0;
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

a:visited {
    color: #333;
}

a:hover {
    font-size: 1.55em;
}

ul {
    list-style: none;
}

.nav-link {
    height: 2em;
    margin: 1em 0;
}

.tiles {
    display: grid;
    width: fit-content;
    grid-template-columns: 16em 16em 16em;
    column-gap: 1em;
    row-gap: 1em;
    margin: 1em auto;
}

.tile {
    width: 16em;
    height: 16em;
    border: 1px solid #333;
}

/* ANIMATIONS */

.slide-in {
    animation-duration: 3s;
    animation-name: slide-in;
}

.grow-shrink-1 {
    animation-duration: 2s;
    animation-name: grow-shrink;
}

.grow-shrink-2 {
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: grow-shrink;
}

.grow-shrink-3 {
    animation-delay: 2s;
    animation-duration: 2s;
    animation-name: grow-shrink;
}

.pulsate {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: pulsate;
}

@keyframes slide-in {
    from {
        translate: 100vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes pulsate {

    30%,
    90% {
        scale: 100%;
    }

    50% {
        scale: 110%;
    }
}

@keyframes grow-shrink {

    25%,
    75% {
        scale: 100%;
    }

    50% {
        scale: 110%;
    }
}